body {
  background-color: mistyrose;
}
a {color: black;
  font-family: alice,serif;
  font-size: 36px;
  font-weight: bold;
}

h1{color: black;
  font-family: alice,serif;
  font-size: 32px;
  font-weight: bold;
}
h2 {color: black;
  font-family: alice,serif;
  font-size: 32px;
  font-weight: bold;
}
h3 {color: black;
  font-family: alice,serif;
  font-size: 32px;
  font-weight: bold;
}
h4 {color: black;
  font-family: alice,serif;
  font-size: 32px;
  font-weight: bold;
}
 footer {color: black;
  font-family: alice,serif;
  font-size: 24px;
  font-weight: bold;
}


